/*
 * Lay this page out - make it responsive, use grid, flex, position and media queries where needed.
 *
 * Colors-
 * Green: #14a96d
 * Dark Green: #14a96d
 * White: #fff
 * Light gray: #f4f5f6
 * Border gray: #cfd7de
 * Dark text: #1b1f23
 * Lighter text: #66727c
 * Blue for links: #06748a
 * Blue for hovered links: #033641
 */

/* Globals */
* {
  box-sizing: border-box;
}

body {
  font-family: "Cabin", sans-serif;
  font-size: 18px;
  color: #1b1f23;
  margin:0;
  height:auto;
  display:block;
  width:100%;
  overflow-x:hidden;
}

.container_fixed {
  max-width: 1200px;
  margin: 0 auto;
}

a,
a:visited {
  text-decoration: none;
  color: #06748a;
}

a:hover {
  color: #033641;
}

.site_header .logo {
  margin: 0;
}

.site_header .logo img {
  max-width: 180px;
}

.site_header_inner {
  display: flex;
  padding-top: 20px;
  overflow: hidden;
}

.site_header_inner .burger {
  display: none;
}

.site_header_inner .navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.site_header_inner .navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

.site_header_inner .navigation ul a {
  color: #66727c;
  text-decoration: none;
  font-size: 20px;
}

.site_header_inner .sign_up {
  margin-right: 10px;
}



/* HERO CONTAINER */

.rover_hero_container {
  background-image: url(img/hero.jpg);
  background-size: cover;
  overflow: hidden;
}

.hero_callout {
  max-width: 500px;
  margin: 120px 0;
  padding: 20px;
  color: #66727c;
}

.hero_callout .hero_hdr {
  font-size: 3rem;
}

.hero_callout .hero_tagline {
  font-size: 2rem;
}

.btn {
  color: white;
  text-decoration: none;
  background: #14a96d;
  display: inline-block;
  padding: 20px 40px;
  min-width: 200px;
  text-align: center;
  border-radius: 5px;
}

.btn:hover {
  background: darkgreen;
  color: white;
}

@media (max-width: 1150px) {
  .hero_callout {
    background: white;
  }
}

@media (max-width: 760px){
  .rover_hero_container {
    background: none;
  }

  .hero_callout {
    max-width: 100%;
    margin: 20px 0;
  }

  .hero_callout .hero_hdr {
    display: none;
  }

  .hero_callout .hero_tagline {
    font-size: 1.5;
    font-weight: bold;
  }

  .hero_callout .btn {
    min-width: 100%;
  }

}


/*  SERVICES N INFO */

.rover_middle_section .section_hdr {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 4rem;
}

.rover_facts_2col {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 760px) {
  .rover_facts_2col {
    grid-template-columns: 1fr;
  }
}

.rover_facts_container ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.rover_facts_container ul li {
  display: grid;
  grid-template-columns: 140px 1fr;
}

.rover_facts_container ul li h2 {
  margin-bottom: 0;
}

.rover_facts_container ul li p {
  margin-top: 8px;
}

/*  rover cta box */

.rover_cta_box {
  border: 1px solid #cfd7de;
  border-radius: 5px;
}

.rover_cta_header {
  background-color: #f4f5f6;
  display: flex;
  padding: 20px;
  gap: 20px;

}

.rover_cta_header img {
  max-width: 50px;
}

.rover_cta_box_content {
  padding: 20px;
}

.rover_cta_box_content > *:last-child {
  margin-bottom: 0;
}

.rover_cta_box_content .rover_facts {
  margin: 0;
  padding: 0;
  list-style: none;
}

.rover_cta_box_content .rover_facts li {
  margin-bottom: 20px;
}

.rover_cta_box_content .rover_facts li .fas {
  color: #0d784d;
}

.rover_cta_box_content .btn {
  min-width: 100%;
}

.rover_protections {
  text-align: center;
  padding: 0 20px;
}






/* NAV BAR */
/*
.site_header {
  background-color: lightgray;
  display: flex;
 
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.navigation {

  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  padding: 0;
}

.navigation ul {
  list-style: none;
  display: flex;
  gap: 25px;

}

.navigation a {
  color: #66727c;
}

.navigation_first {
  display: flex;
  justify-content: space-around;
}

.sign_up {
  display: flex;
  justify-content: space-around;
}
*/