/*

Exercise Notes:

Use Flex-wrap, flex-direction, and flex to control how the header spaces and sizes.  A good minimum for flex might be 320px;




 */



.exerciseFooter, .exerciseMain {
    margin: 0 10px 10px 10px;
}

.exerciseHeader {
    display: flex;
    margin-top: 10px;
    margin-left: 10px;
}

.exerciseHeaderLogo {
    width: 200px;
    height: 80px;
}


.exerciseHeaderNav {
    width: 20%;
}

.exerciseHeaderNav ul {
    display: flex;
    justify-content: space-between;

}

.exerciseHeaderNav ul li {
    display: flex;

}


.exerciseMainContent {
    margin-top: 10px;
}


.exerciseAdditionalFeatures {
    display: flex;
    margin-top: 10px;
    gap: 10px;
}

.exerciseAdditionalFeatures .exerciseMarketingFeature {
    width: 33.3%;
    gap: 10px;
}

.exerciseAdditionalFeatures .exerciseMarketingFeature:first-child {

}